/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: 'Lora', 'Georgia', serif;
  background: #fff;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

a,h1,h2,h3,h4,h5,h6{
  color: #676767;
}

/* Navbar */
.custom-font{
  text-transform: uppercase;
  letter-spacing: 0.181818em;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #676767;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.bg-color-white{
  background-color: #FFF;
}

/* Popup */
.custom_popup{
  margin: auto;
  background: white;
  position: relative;
  padding: 20px;
  left: 0;
  top: 0;
}

.page-header{
  text-transform: uppercase;
}

/* Admin gallery */
#detail_popup .content-wrap{
  height: 527px;
  color: #FFF;
}

#detail_popup .content-wrap .left-content-wrap {
  padding-right: 0;
}

#detail_popup .content-wrap .left-content-wrap .image-wrap {
  height: 527px;
}

#detail_popup .content-wrap .right-content-wrap {
  height: 527px;
  padding-left: 0;
  padding-right: 10px;
}

#detail_popup .content-wrap .right-content-wrap .desc-wrap {
  max-height: 100%;
  min-height: 100%;
  padding-top: 15px;
}

#detail_popup .content-wrap .left-content-wrap .image-wrap img {
  max-height: 100%;
  width:auto;
}

#detail_popup .content-wrap .right-content-wrap .desc-wrap .avatar {
  padding 0;
}

#detail_popup .content-wrap .right-content-wrap .desc-wrap .avatar img {
  width: 100px;
}

#detail_popup .map, #mapidCustom{
  height: 230px;
}

#detail_popup .content-wrap .right-content-wrap .exif a {
  color: #FFF;
  text-decoration-style: none;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/* Dropzone */
.dz-message span{
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.181818em;
  font-family: 'Lora', 'Georgia', serif;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loading-area {
    display:    none;
    position:   fixed;
    z-index:    100000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading-area {
    display: block;
}

/*Gallery Edit popup */
#edit_popup form input{
  border-radius: 0;
}

#edit_popup{
  color:#FFF;
}

/*
 * JQUERY Datatable
 */
/*Hide the search bar in table*/
.dataTables_filter {
  display: none!important;
}

.help-block{
  color: red;
}