/**
**
** Custom CSS
**
*/
/*@import url('https://fonts.googleapis.com/css?family=Lora');*/

body{
	font-family: 'Lora', 'Georgia', serif;
	background: #fff;
	line-height: 1.8;
    -webkit-font-smoothing: antialiased;
}

/* Navbar */
.custom-font{
	text-transform: uppercase;
    letter-spacing: 0.181818em;
}
